<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>
<body>
    <form action="/login" className="login" method="post">
        <label for="username"></label>
        <input id="username" type="text" name = "username">

        <label for="password"></label>
        <input id="password" type="text" name = "username">

        <button type="submit">Login in</button>
    </form>
</body>
</html>